@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1110px;
  margin: 0 auto;
}

/* share style start */
.logo {
  font-size: 1.5rem;
  color: #3A3A3A;
}

.title_text {
  font-size: 3.25rem;
  font-weight: 700;
  color: #3A3A3A;
  width: 582px;
}

.colers {
  font-size: 1rem;
  color: #3A3A3A;
}

.margin_header {
  margin: 20px 0px;
}

.margin_1st {
  margin: 80px 0px;
}

.margin {
  margin: 130px 0px;
}


.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pragaraph_text {
  font-size: 1rem;
  color: #3A3A3A;
  font-weight: 600;
  width: 505px;
  margin-top: 20px;
}

.prodcut_discription {
  font-size: 0.87rem;
  max-width: 196px;
}

.product_title {
  font-size: 1.75rem;
  color: #18191F;
}

.price {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000DE;
}


.product_container {
  max-width: 1047px;
  margin: 0 auto;
}

.btn {
  height: 44px;
  width: 194px;
  background: #E02C6D;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
}

.btn:hover {
  background: transparent;
  border: 1px solid #E02C6D;
  color: #E02C6D;
  transition: 0.5s;
}

.btn .fa-solid {
  margin-left: 10px;
}

.prodcut_margin {
  margin-top: 6px;
  margin-bottom: 10px;
}

/* share style start */
header {
  margin: 50px 0px;
}

.nav_cantainer {
  display: flex;
}

.nav_links {
  list-style-type: none;
}

.nav_item {
  margin-left: 30px;
  text-decoration: none;
}

.icons .fa-solid {
  margin-left: 30px;
}

.mobile_navs {
  display: none;
}

.main_png {
  background-image: url('../images/Circle\ design.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sponser_container {
  max-width: 1110px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.sponser_logo {
  border: 1px solid #d5d7d8;
  padding: 20px 30px;
  border-radius: 8px;
}

.sponser_logo {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
}

/* product container style start */
.product_content {
  max-width: 1047px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.product_card {
  margin: 30px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 10px;
}

.rating {
  max-width: 112px;
}

.rating h5 {
  margin-left: 10px;
  font-size: 0.87rem;
  color: #5E6366;
  align-items: center;
}

.rating .fa-solid {
  color: #FB8200;
}

/* product container style end */


/* responsive design */
@media screen and (max-width: 576px) {
  .banner_content {
    flex-direction: column;
    align-items: center;
  }

  .nav_cantainer {
    display: none;
  }

  .title_text {
    margin-top: 14px;
    font-size: 2.7rem;
    width: 100%;
  }

  .pragaraph_text {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .banner_content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .btn:hover {
    background: transparent;
    border: 1px solid #E02C6D;
    color: #E02C6D;
    transition: 0.5s;
  }

  .main_png {
    width: 257px;
  }

  .mobile_navs {
    display: flex;
    padding: 10px;
  }

  .sponser_container {
    width: 100%;
  }

  .sponser_logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .sponser_logo img {
    width: 50px;
  }

  .product_content {
    grid-template-columns: 1fr;
    width: 329px;

  }

  .product_card {
    width: 329px;
  }
}

/* mideum device responsiv */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .nav_cantainer {
    padding: 10px;
  }
}